{% extends "base.html" %}

{% block content %}

	<div class="row">
		<div class="category-item column">
			<h5 class="category-item__header">
				<span class="header__title">Violin</span>
				<span class="header__bar"></span>
			</h5>
			<div class="category-item__description">
				Violin, family of stringed musical instruments having wooden bodies whose backs and fronts are slightly convex, the fronts pierced by two-shaped resonance holes. The instruments of the violin family have been the dominant bowed instruments because of their versatility, brilliance, and balance of tone, and their wide dynamic range. A variety of sounds may be produced, e.g., by different types of bowing or by plucking the string (see pizzicato). The violin has always been the most important member of the family, from the beginning being the principal orchestral instrument and holding an equivalent position in chamber music and as a solo instrument. The technique of the violin was developed much earlier than that of the viola or cello.
			</div>
			<div class="category-item__controls">
				<a href="" class="controls__back">Back</a>
				<a href="" class="controls__edit">Edit</a>
				<a href="" class="controls__delete">Delete</a>
			</div>
		</div>
	</div>

{% endblock %}